.document {
    background-color: rgb(39, 39, 39);
}

body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.device-frame {
    background-color: rgb(161, 161, 161);
    display: grid;
    flex-direction: column;
    height: auto;
    width: 250px;
    gap: 10px;
    padding: 20px
}

header,
footer,
.left-aside,
.right-aside,
article {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: rgb(165, 22, 101);
}

.left-aside {
    background-color: rgb(4, 85, 177);
}

.right-aside {
    background-color: rgb(41, 161, 184) ;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main {
    background-color: rgb(9, 216, 137);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    
}

.main-label{
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    display: none;
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article {
    background-color: rgb(248, 3, 105);
}

footer {
    background-color: rgb(248, 134, 41);
}

@media screen and (min-width: 992px) {
    .device-frame {
        width: 1000px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 15px;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 15px;
    }

    .main-label {
        display: block;
        margin-bottom: 20px;
        font-size: 1.25rem;
    }

    .columns {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        flex-grow: 1;
    }

    article {
        width: 100px;
        height: 60px;
    }
    
    main{
        min-height: 250px;
    }

    .left-aside,
    .right-aside {
        min-height: 250px;
    } 
}